<div class="flex flex-col justify-center items-center">
  <div class="text-5xl font-bold p-6"> My Cart </div>

  <%= form_with url: new_transaction_path, method: :get do |form| %>
    <%= form.hidden_field :category, value: "product" %>
    <div class="flex flex-wrap">
    <% @cart_items.each do |item| %>
      <div class="flex flex-col items-center justify-center border-red-400 border-solid border-2  p-4 m-3 bg-white rounded-lg border border-amber-600 ">
        <%= image_tag item.product.product_image.variant(resize_to_limit: [nil, 100]) %>
        <%= link_to "#{item.product.product_name}", product_path(item.product.id), class: "font-bold" %>
        <div><%= item.quantity %> x <%= item.product.price %></div>
        <div><%= link_to "Remove", cart_path(item.id), method: :delete, class: "inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800" %></div>

        <% unless Product.find(item.product_id).stocks < item.quantity %>
        <div class="flex items-center justify-center">
          <input type="checkbox" name="i[]" value="<%= item.id %>" id="i_<%= item.id %>">
          <label for="i_<%= item.id %>" class="px-2">Add to checkout</label>
        </div>
        <%else%>
          <div>This product is currently unavailable</div>
        <%end%>
      </div>
    <% end %>
    </div>
    <div class="flex justify-center">
    <% unless @cart_items.length == 0 %>
      <%= form.submit "Proceed to Checkout", class: "flex justify-center items-center py-2 px-3 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800" %>
    <%end%>
    </div>
  <%end%>

  <% if @cart_items.length == 0 %>
    <div>You have no items in your cart, click <%= link_to "HERE", products_path %> to start adding items!</div>
  <%end%>
</div>