<div> Appointments </div>
<div>
<% @appointments.each do |appointment| %>
    <div>
      <%= appointment.id %>
      <%= appointment.slot_id %>
      <%= appointment.user_id %>
      <%= appointment.reason %>
      <%= appointment.note %>
      <%= appointment.status %>
      <%= appointment.interaction %>
    </div>
    <% end %>

</div>