<div> Appointments </div>
<div>
  <% @appointments.each do |appointment| %>
    <%= link_to(appointment_path(appointment.id)) do %>
      <div class="border-red-400 border-solid border-2 w-1/3">
        <%= appointment.reason %>
        <br>
        <%= appointment.note %>
        <br>
        <%= appointment.status %>
        <br>
        <p> <%= appointment.interaction %> </p> 
      </div>
    <%end%>
    <br>
  <% end %>
</div>