<div class="grid grid-cols-12 grid-rows-2">
    <ul class="col-span-2 bg-neutral-900 text-slate-50">
        <li>
            <%= link_to "Dashboard", admin_dashboard_index_path %>
        </li>
        <li>
            <%= link_to "Inventory", admin_inventory_index_path %>
        </li>
        <li>
            <%= link_to "Create Appointment Slots", new_slot_path %>
        </li>
        <li>
            <%= link_to "Appointment Slots", slot_index_path %>
        </li>
        <li>
            <%= link_to "All Patients", users_index_path %>
        </li>
        <li>
            <%= link_to "Appointments", appointment_transactions_path %>
        </li>
    </ul>
    <div class="col-span-10">
    <h1>Admin Dashboard</h1>
    <br>
    <%= link_to "Transactions", admin_transaction_index_path %>
    </div>
</div>