<%= link_to "Home", admin_dashboard_index_path %>
<br>

<h1>This is Admin Transaction Index view</h1>
<br>
<% @appointment_transactions.each do |appt| %>
  <div class="border-solid border-4 border-red-400 w-1/3">
    <p><%= appt[:full_name] %> <%= appt[:email] %></p>
    <h1 class="red-400"><%= appt[:date].strftime('%-B %-d, %Y') %> | <%= appt[:time].strftime("%I:%M%p") %></h1>
    <div><%= appt[:reason] %></div>
    <div><%= appt[:note] %></div>
    <div><%= appt[:interaction] %></div>
  </div>
  <br>
<%end%>
<br>
<% @product_transactions.each do |t| %>
  <div class="border-solid border-4 border-red-400 w-1/3">
    <p><%= t[:full_name] %> <%= t[:email] %></p>
    <%= t[:name] %>
    <br>
    Quantity <%= t[:quantity] %>
    <br>
    Total <%= t[:total] %>
  </div>
  <br>
<%end%>