<%= link_to "Home", admin_dashboard_index_path %>
<br>
<%= link_to "Transactions", admin_transaction_index_path %>
<br>

<h1>This is Admin Transaction Show view</h1>

<div class="border-solid border-4 border-red-400 w-1/3">
  <h1 class="red-400"><%= @transaction.prod_name %></h1>
  <div><%= @transaction.prod_desc %></div>
  <div>Price <%= @transaction.prod_price %></div>
  <div>Quantity <%= @transaction.prod_quantity %></div>
  <div>Total <%= @transaction.prod_total %></div>
</div>
<%= link_to "Delete", admin_transaction_path(@transaction), method: :delete, data: {confirm: "Continue to delete?"}, class: "border-solid border-4 border-red-400 w-1/8" %>