<%= link_to "Home", root_path %>
<br>
<h1>This is Patient Transaction Index</h1>
<br>
<br>
<% @transactions.each do |t| %>
  <div class="border-solid border-4 border-red-400 w-1/3">
    <h1 class="red-400"><%= t.prod_name %></h1>
    <div><%= t.prod_desc %></div>
    <div>Price <%= t.prod_price %></div>
    <div>Quantity <%= t.prod_quantity %></div>
    <div>Total <%= t.prod_total %></div>
  </div>
  <br>
<%end%>