<%= link_to "Home", root_path %>
<br>
<h1>This is Patient Transaction New</h1>

<% @data.each do |each| %>
  <div class="border-red-400 border-solid border-2 w-1/3">
    <h1> <%= each[:name] %> </h1>
    <div> <%= each[:desc] %> </div>
    <div>
      <span>Price <%= each[:price] %> </span>
      |
      <span>Quantity <%= each[:quantity] %> </span>
      |
      <span>Total <%= each[:total] %> </span>
    </div>
  </div>
  <br>
<%end%>

<%= link_to "Purchase", transaction_index_path(data: @data), method: :post %>