<%= link_to "Home", root_path %>
<br>
<h1>This is Patient Transaction New</h1>

<% @data.each do |each| %>
  <div class="border-red-400 border-solid border-2 w-1/3">
    <h1> <%= each[:name] %> </h1>
    <div> <%= each[:desc] %> </div>
    <div>
      <span>Price <%= each[:price] %> </span>
      |
      <span>Quantity <%= each[:quantity] %> </span>
      |
      <span>Total <%= each[:total] %> </span>
    </div>
  </div>
  <br>
<%end%>
<br>
<h1>The overall checkout total</h1>
<%= @checkout_total %>
<br>
<br>
<br>
<br>
<p>Proceed to Payment</p>
<%= form_with url: payments_gcash_payment_path, method: :post do |form| %>
  <%= form.hidden_field :amount, value: @checkout_total %>
  <%= form.hidden_field :payment_category, value: "Dermatology Product Payment" %>
  <%= form.submit "Pay with GCash" %>
<%end%>