<%= month_calendar do |date| %>
  <div>
   <%= link_to date.day, slot_index_path(:dateslot => date) %>
  </div>
<% end %>

<div> Slots </div>
<div>
  <% @slots.each do |slot| %>
  <div>
    <%= slot.id %>
    <%= slot.date %>
    <%= slot.interaction %>
  </div>
  <% end %>
</div>
<div>
  <%= link_to 'Add Slots', new_slot_path %>
</div> 

