<div class="w-full">
  <div class='flex flex-col justify-center content-center'>
    <div class='font-bold pt-48 pb-8 text-5xl text-center'> New Slots </div>
    <div class='flex w-96 justify-center content-center self-center'>
      <%= form_with model: @slot, url: slot_index_path do |form| %>
        <div class="category-detail-list">
          <div class="category-add">
            <div class="field">
              <%= form.label :date, class: "text-left font-bold"%></br>
              <%= form.date_field  :date, class: "block border-1 border-black" %>
            </div>
            <div class="field">
              <%= form.label :time, class: "text-left font-bold"%></br>
              <%= form.time_field  :time, class: "block border-1 border-black" %>
            </div>
          </div>
          <div class="category-add">
            <div class="flex flex-col justify-center content-center text-center"></br>
              <%= form.label :interaction, 'Online' %></br>
              <%= form.radio_button :interaction, "online" %></br>
              <%= form.label :interaction, 'Face To face' %></br>
              <%= form.radio_button :interaction, "face_to_face" %></br>
              <%= form.label :interaction, 'Online/Face To face' %></br>
              <%= form.radio_button :interaction, "both" %></br>
            </div>
          </div>
          <div class="category-add">
            <div class="field"></br>
              <%= form.hidden_field :availability, value: "True" %>
            </div>
          </div>
        <div class="submit"></br>
          <button class='text-xl font-bold bg-cyan-500 uppercase p-1 rounded-2xl border-2 border-solid border-black w-48'><%= form.submit "Submit", class: "button-form" %></button>
        </div>
      <% end %>
    </div>
  </div>
</div>