<h1>Products</h1>
<% @products.each do |product| %>
    <a href="<%=product_path(product)%>">
        <%= image_tag product.product_image %>
        <h2><%= product.product_name %></h2>
        <div>Price - <%= product.price %></div>
        <% unless product.stocks == 0 %>
            <div>Stocks - <%= product.stocks %></div>
        <%else%>
            <div>This product is currently unavailable</div>
        <%end%>
    </a>
    <br>
<% end %>