<!DOCTYPE html>
<html>
  <head>
    <title>PrivateDermatology</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <li>
                <%= link_to "Dashboard", admin_dashboard_index_path %>
            </li>
            <li>
                <%= link_to "Inventory", admin_inventory_index_path %>
            </li>
            <li>
                <%= link_to "Create Appointment Slots", new_slot_path %>
            </li>
            <li>
                <%= link_to "Appointment Slots", slot_index_path %>
          </li>
            <li>
                <%= link_to "All Patients", users_index_path %>
            </li>
          <% else %>
            <li>
              <%= link_to "Home", root_path %>
            </li>
            <li>
              <%= link_to "Products", products_path %>
            </li>
            <li>
                <%= link_to "Schedule an Appointment", new_appointment_path %>
            </li>
          <% end %>
          <li>
                <%= link_to "My Appointments", appointment_index_path %>
          </li>
          <li>
            <%= link_to "My Account", edit_user_registration_path %>
          </li>
          <li>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to "Create Account", new_user_registration_path %>
          </li>
          <li>
            <%= link_to "Login", new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </header>
    <main class="container mx-auto mt-28 px-5">
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
