<!DOCTYPE html>
<html class="h-screen">
  <head>
    <title>PrivateDermatology</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="h-full">
    <header class="border-b-2 px-6 py-10 flex justify-between">
      <div class="flex gap-4">
        <div>
          <h1>PD</h1>
        </div>
        <ul class="flex gap-4">
            <li>
              <%= link_to "Home", root_path %>
            </li>
            <li>
              <%= link_to "Products", products_path %>
            </li>
            <li>
              <%= link_to "Schedule an Appointment", slot_index_path %>
            </li>
        </ul>
        </div>
        <ul class="flex gap-4">
          <% if user_signed_in? %>
            <% if current_user.admin? %>
              <li>
                    <%= link_to "Dashboard", admin_dashboard_index_path %>
                </li>
            <% end %>
          <li>
            <%= link_to "My Cart", cart_index_path %>
          </li>
          <li>
            <%= link_to "My Account", edit_user_registration_path %>
          </li>
          <li>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          </li>
          <% else %>
          <li>
          <%= link_to "Create Account", new_user_registration_path %>
          </li>
          <li>
            <%= link_to "Login", new_user_session_path %>
          </li>
          <% end %>
        </ul>
    </header>
    <main class="v-full">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
    <footer class="fixed bottom-0 p-4 md:p-6 bg-zinc-900 text-white w-full">
      <h1>© 2022 Private Dermatology MD. All Rights Reserved.</h1>
    </footer>
  </body>
</html>
